.explanation-card {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: black;
  pointer-events: none;

  > .position {
    font-size: 40px;
  }
  > .explanation {
    font-size: 20px;
  }
  > .people {
    font-size: 100px;
  }
}
